<flash-messages></flash-messages>
<router-outlet></router-outlet>
<img *ngIf="!viewHome" src="../assets/logo.png" alt="" class="logo">


<!-- formulario de inicio -->
<div *ngIf="!viewLogin && !viewHome">
    <div class="row content">
        <div class="col-md-12 redirect">
            <a (click)="this.viewLogin=false" href="#">Register</a>
            <p>/</p>
            <a (click)="this.viewLogin=true" href="#">Login</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                    [(ngModel)]="email" (ngModelChange)="this.email = $event">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" placeholder="Repeat password" [(ngModel)]="repeatPassword ">
            </div>

            <button type="button" class="btn btn-primary" (click)="validate()"
                style="margin-top: 20px;">Register</button>
        </div>
    </div>
</div>
<!-- fin formulario -->

<!-- login -->
<div *ngIf="viewLogin && !viewHome">
    <div class="row content">
        <div class="col-md-12 redirect">
            <a (click)="this.viewLogin=false" href="#">Register</a>
            <p>/</p>
            <a (click)="this.viewLogin=true" href="#">Login</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
                    [(ngModel)]="emailLogin" (ngModelChange)="this.emailLogin = $event">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="passwordLogin">
            </div>

            <button type="button" class="btn btn-primary" (click)="login()" style="margin-top: 20px;">Login</button>
        </div>
    </div>
</div>
<!-- fin login -->

<div class="row" *ngIf="viewHome">
    <div class="col-md-12" style="text-align: center">
        <a href="/" style="color: white;font-size: 20px;width: 300px;position: absolute;right: 0px;">LOG OUT</a>
        <!-- <p >LOG OUT</p> -->
        <img src="../assets/HOME.jpg" width=" 100%" height="auto" alt="">
        <p class="ptxt">
            <b style="color: white;font-size: 20px;width: 300px;">Lorem ipsum</b>
            Lorem ipsum
            dolor, sit amet consectetur Quam vitae debitis consectetur eum eveniet, ipsa
            voluptatibus ratione a?
        </p>
        <p class="ptxtRight">
            <b style="color: white;font-size: 20px;width: 300px;">Lorem ipsum</b>
            Lorem ipsum
            dolor, sit amet consectetur Quam vitae debitis consectetur eum eveniet, ipsa
            voluptatibus ratione a?
        </p>
    </div>
    <div class="col-md-12 text-center">
        <h3 class="titlePrincipal">TELEPERFORMANCE</h3>
    </div>
    <div class="col-md-12 text-center" >
        <p class="pDescription">
            En esta seccion puedes ejecutar cada una de las alertas. <br>
            activando la alerta "show" damos click en la alerta y regresaras al registro.
        </p>
    </div>
    <div class="col-md-1 centerItems"></div>

    <div class="col-md-2 centerItems">
        <button (click)="success()" class="butonShowAlert">success</button>
    </div>
    <div class="col-md-2 centerItems">
        <button (click)="error()" class="butonShowAlert">error</button>
    </div>
    <div class="col-md-2 centerItems">
        <button (click)="warning()" class="butonShowAlert">warning</button>
    </div>
    <div class="col-md-2 centerItems">
        <button (click)="info()" class="butonShowAlert">info</button>
    </div>
    <div class="col-md-2 centerItems">
        <button (click)="show()" class="butonShowAlert">show</button>
    </div>
    <div class="col-md-1 centerItems" style="margin-bottom: 50px;"></div>
</div>