/* You can add global styles to this file, and also import other style files */
.alert.flash-message{
    // position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    z-index: 10;
}